<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title date validator
body
  h1 DATE VALIDATOR
  form(action="/" method='POST') 
    input(type="date" autofocus='true' name='dob' placeholder='mm/dd/yyyy')
    input(type="submit" value='SUBMIT')
  block content
